body
{
	display: flex;
	flex-direction: column;
	font-family: Arial, "Helvetica Neue", Helvetica, Meiryo, YuGothic, "MS PGothic", "MS Gothic", sans-serif;
	font-size: 18px;
}

nav a:hover, .links .content a:hover
{
	background-color: #E0E0F0;
}
footer a:hover
{
	background-color: #F0F0FF;
}

header
{
	background-color: #F0F0FF;
}
.row
{
	background-color: #F8F8FF;
}

header, .row
{
	display: flex;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.title
{
	padding: 0 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	background-color: #E0E0F0;
}

.row .title
{
	display: flex;
	height: 32px;
	width: 216px;
	padding: 0 32px;
	align-self: flex-start;
	background-color: #E0E0F0;
}

header .header
{
	display: flex;
	flex: 0.75;
}

header .header .logo
{
	width: 48px;
	height: 48px;
	background: center / contain no-repeat url(/playground/assets/images/KM48tr.png);
	margin: 16px;
}

header .header h1
{
	font-size: 36px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	vertical-align: top;
	margin: 16px;
}

nav
{
	margin-top: 16px;
	flex: 0.45;
	text-align: right;
}
nav a
{
	margin-right: 16px;
}

main
{
	display: flex;
	flex: 1;
	flex-direction: column;
}

.kanji-kana
{
	display: flex;
	flex: 1;
	flex-direction: row;
}

.kanji
{
	width: 200px;
	height: 200px;
	font-size: 192px;
	margin: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F4F0FF;
	padding-top: 20px;
}

.readings
{
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: space-between;
	margin: 16px;
}

.on-yomi, .kun-yomi, .english
{
	display: flex;
	flex-direction: row;
	height: 48px;
	background-color: #F0F0FF;
}

.readings .title
{
	flex: 0.11;
	height: 100%;
	padding: 0 16px;
}

.yomi, .translation
{
	font-size: 24px;
	padding: 8px;
	flex: 1;
}

.information
{
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding: 0 16px 16px 16px;
}

.information-unit
{
	padding: 8px;
	width: 175px;
	text-align: center;
	background-color: #F0F4FF;
}

.components
{
	display: flex;
	flex: 1;
	flex-direction: column;
}

.components .content
{
	display: flex;
	flex: 1;
}

.component
{
	width: 96px;
	height: 96px;
	margin: 16px 13px 0 13px;
	font-size: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F0F0FF;
}
.component.radical
{
	background-color: #F4F0FF;
}


.notes, .mnemonic, .links
{
	flex-direction: column;
	padding-top: 16px;
}

.notes .content, .mnemonic .content
{
	min-height: 64px;
	padding: 16px;
	background-color: #F0F4FF;
}

.links
{
	padding-bottom: 16px;
}
.links .content
{
	height: 48px;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	background-color: #F0F4FF;
}

footer
{
	background-color: #E0E0F0;
/*	position: fixed;
	bottom: 0; */
	text-align: center;
	width: 100%;
	padding: 16px;
}

/* TODO The Material Design Lite (MDL) Breakpoints */

@media (max-width: 1024px)
{

}
@media (max-width: 839px)
{

}
@media (max-width: 480px)
{

}

.row.content
{
	flex-direction: column;
}
.row.content h2
{
	font-weight: bold;
	font-size: 1.2em;
    margin: 8px 0 16px 0;
}
.row.content a:hover
{
	text-decoration: underline;
	color: darkblue;
}
