/*
Stylesheet for PhiLhoSoft's GitHub pages.
*/


body
{
	margin: 1pc;
	font-size: 1pc;
	background-color: #FFF;
	line-height: 1.4;
	color: #333;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1
{
	font-size: 32px;
	font-weight: 800;
	border-bottom: 1px solid #DDF;
}

h2
{
	font-size: 24px;
	font-weight: 700;
}

h3
{
	font-size: 22px;
	font-weight: 400;
}

h4
{
	font-size: 18px;
}

h4, h5, h6
{
	font-weight: 500;
	line-height: 1.1;
}

h1, h2, h3
{
	margin-top: 20px;
}

h4, h5, h6
{
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6
{
	margin-bottom: 10px;
}

a
{
	color: #007090;
	text-decoration: none;
}

a:active, a:hover
{
	outline: 0;
}

a:focus, a:hover
{
	color: #005060;
	text-decoration: underline;
}

section
{
	margin-bottom: 20px;
}

p
{
	margin-bottom: 10px;
}

ol, ul
{
	margin-top: 0;
	margin-bottom: 10px;
}

li
{
	margin-left: 32px;
	display: list-item;
	text-align: -webkit-match-parent;
}

code
{
	font-family: Source Code Pro, DejaVu Sans Mono, Courier New, monospace;
	font-size: 15px;
	padding: 2px 4px;
	white-space: nowrap;
	border: 1px dotted #DDF;
}

pre
{
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #DDF;
}

code, pre
{
	color: #333;
	background-color: #F5F9FF;
	border-radius: 8px;
}

pre > code
{
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
	border: none;
}

strong
{
	font-weight: 700;
}

table
{
	border: 1px solid #DDF;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

thead > tr > th
{
	border-bottom-width: 2px;
	border-bottom: 2px solid #DDF;
	font-weight: 700;
	background-color: #F0F8FF;
}

tfoot > tr > td
{
	font-size: 0.9em;
}

tbody > tr > td,
thead > tr > th,
tfoot > tr > td
{
	border: 1px solid #DDF;
	vertical-align: bottom;
	padding: 8px;
	border-top: 0;
}

tbody > tr:nth-child(odd) > td
{
	background-color: #F8FCFF;
}

caption
{
	text-align: center;
}

blockquote
{
	padding: 5px 20px;
	margin: 0.5em 0 1em;
	border-left: 8px solid #DDF;
	font-style: italic;
	background-color: #F0F8FF;
}

p > img
{
	max-width: 100%;
}
